```
1.Read the data
2.Check the data or preprocess the data
3.Seperate input labels and target or output labels
4.Seperate the train and test data(opt)
5.Apply the algorithm
6.Train the model by giving input and output values
7.test the data
8.Evalute the model
```

In [1]:
#1.read the data
import pandas as ps
data = ps.read_csv("shirtsize.csv")
print(data)

    Height  Weight Size
0      158      58    M
1      158      59    M
2      158      63    M
3      160      59    M
4      160      60    M
5      163      60    M
6      163      61    M
7      160      64    L
8      163      64    L
9      165      61    L
10     165      61    L
11     165      62    L
12     168      62    L
13     168      63    L
14     168      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [3]:
#2.Check the data
data.isnull().sum()

Height    0
Weight    0
Size      0
dtype: int64

In [4]:
data.columns

Index(['Height', 'Weight', 'Size'], dtype='object')

In [5]:
#3.Seperate the input and output
input_data = data[['Height','Weight']]
input_data

    Height  Weight
0      158      58
1      158      59
2      158      63
3      160      59
4      160      60
5      163      60
6      163      61
7      160      64
8      163      64
9      165      61
10     165      61
11     165      62
12     168      62
13     168      63
14     168      66
15     170      63
16     170      64
17     170      68

In [6]:
output_data = data['Size']
output_data

0     M
1     M
2     M
3     M
4     M
5     M
6     M
7     L
8     L
9     L
10    L
11    L
12    L
13    L
14    L
15    L
16    L
17    L
Name: Size, dtype: object

In target columns must the values in int or float format only

In [8]:
tran_output = ps.get_dummies(data['Size'],drop_first=True)
tran_output

    M
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0

In [9]:
#5.
data.shape

(18, 3)

In [10]:
#5.Split the train and test optional
#6.Apply the Algorithm
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=)

In [11]:
#7.train the model by using fit method
knn.fit(input_data,tran_output)

C:\Users\RANGA\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [12]:
# test the model or algorithm by using predict method
pred_values = knn.predict(input_data)

In [13]:
from sklearn.metrics import accuracy_score
accuracy_score(tran_output,pred_values)

0.8333333333333334

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix(tran_output,pred_values)

array([[10,  1],
       [ 2,  5]], dtype=int64)

In [15]:
knn.predict([[158,120]])

array([0], dtype=uint8)